<div class="global-nav">
    <mat-toolbar>
        <h1 routerLink="/home">
            Spenny Brews
        </h1>
        <div class="global-nav__button-container">
            <button mat-button routerLink="/beers">Beers</button>
            <button mat-button routerLink="/about">About</button>
            <button mat-button routerLink="/admin">Admin</button>
        </div>
    </mat-toolbar>
</div>
