.global-nav__button-container {
    display: flex;
    justify-content: right;
    
    button{
        padding: 0 40px;
        font: 400 20px Kalam;
    }
}

mat-toolbar{
    justify-content: space-between;
    padding: 0 100px;
    background: #322D35;
    color: white
}

mat-toolbar h1 {
    font: 400 32px/32px Kalam;
    padding-left: 40px;
}

h1{
    cursor: pointer;
}