.entry_main {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
}
.entry-card__container {
    position: relative;
    display: flex;
    justify-content: center;
}

.entry-container {
    margin-top: 100px;
}

.entry-card__buttons--container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    button {
        font: 400 20px Kalam;
    }
}

.mat-card {
    padding: 60px;
    background-color: #B99C64;
}

.mat-card-header {
    justify-content: center;
    font: 600 30px Kalam;
    mat-card-subtitle {
        font: 400 20px Kalam;
    }
}

.denied-card__container {
    display: none;
}

.show-denied .denied-card__container {
    display: block !important;
}