<div class="entry_main" style="background-image: url('./assets/entry_page_image.jpg');">
    <div class="entry-container">
        <div class="entry-card__container">
            <mat-card class="entry-card">
                <mat-card-header>
                    <mat-card-title>{{textHeader}}</mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>{{textSub}}</mat-card-subtitle>
                <mat-card-actions>
                    <div class="entry-card__buttons--container" *ngIf="!hideButtons">
                        <button mat-button routerLink="/home"> Yes </button>
                        <button mat-button (click)="showDeniedCard()"> No </button>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="denied-card__container">
            <mat-card class="denied-card">
                <mat-card-header>
                    <mat-card-title>Are you 21 years of age or older?</mat-card-title>
                </mat-card-header>
                <mat-card-subtitle>
                    <p>Well hey there. Do you like beer? So do we. But ya kinda need to be 21 to enter.</p>
                </mat-card-subtitle>
            </mat-card>
        </div>
    </div>
</div>