<app-navbar></app-navbar>
<div class="login_container" *ngIf="!loggedIn">
    <mat-card class="card_container">
        <h1>Admin</h1>
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput #userName placeholder="Username" name="usernameInput">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput #pass placeholder="Password" name="passwordInput" type="password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="submitLogin(userName, pass)">Log in</button>
      </mat-card>
</div>

<div class="admin-container" *ngIf="loggedIn">
        <div class="beers_cards__container">
          <div class="card card_new">
            <div class="card__body">
              <p class="cards__beer-name">Create New Beer</p>
              <mat-form-field>
                <input matInput #name placeholder="Beer Name" name="nameInput" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput #style placeholder="Beer Style" name="styleInput" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput #color placeholder="Color" name="colorInput" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput #status placeholder="Current Status" name="statusInput" required>
              </mat-form-field>
              <mat-form-field>
                <input matInput #ibu placeholder="IBU's" name="ibuInput">
              </mat-form-field>
              <mat-form-field>
                <input matInput #abv placeholder="ABV" name="abvInput">
              </mat-form-field>
              <mat-form-field>
                <input matInput #numBottles placeholder="Bottles Left" name="numBottlesInput">
              </mat-form-field>
              <mat-form-field>
                <input matInput #image placeholder="Image Source" name="imageInput">
              </mat-form-field>
              <mat-form-field>
                <textarea matInput #description placeholder="Description" name="descriptionInput"></textarea>
              </mat-form-field>
              <div class="create_button">
                <button mat-stroked-button color="accent" class="btn-block" (click)="createBeer(name, style, color, status, ibu, abv, numBottles, image, description)">Create</button>
              </div>
            </div>
          </div>

          <div *ngFor="let beer of beers" class="card">
            <div class="card__picture-header" *ngIf="beer.picture">
              <img src="{{beer.picture}}">
            </div>
            <div class="card__body">
              <p class="cards__beer-name">{{beer.name}}</p>
              <p>Style: {{beer.style}}</p>
              <p>Status: {{beer.status}}</p>
              <p>Estimated IBU: {{beer.ibu}}</p>
              <p>Estiamted ABV: {{beer.abv}}</p>
              <p>Bottles remaining: {{beer.quantity}}</p>
              <p>{{beer.description}}</p>
            </div>
            <div class="update_button" routerLink="/update/{{beer.id}}">
              <button mat-stroked-button color="accent" class="btn-block">Update</button>
            </div>
          </div>
        </div>
</div>