.login_container {
    display: flex;
    justify-content: center;
    position: relative;
    top: 150px;
}
.card_container {
    height: 300px;
    width:325px;
    text-align: center;
}

mat-card {
    text-align: center;
    padding: 60px 50px 40px 50px;
}

.admin-container {
    height: auto;
    width: 100%;
    background-color: #E4B889;
}

.beers_cards__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}

.card_new {
    background-color: white !important;
}

.mat-form-field-infix {
    width: 250px !important
}

.card {
    max-width: 321px;
    height: 865px;
    margin: 40px 80px 40px 80px;
    box-shadow: 13px 7px 6px rgba(0,0,0,.3);
    flex: 1 0 20%;
    border-radius: 10px;
    background-color: #E0C5B2;
    position: relative;
}

.card__picture-header {
    height: 404px;
    width: 100%;
    background-color: grey;
    img {
        border-radius: 10px 10px 0 0;
    }
}

.card__body {
    margin: 20px 20px 30px 20px;
    color: #322D35;
}

.cards__beer-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.create_button{
    text-align: center;
    margin-top: 50px;
}

.update_button {
    text-align: center;
    position: absolute;
    bottom: 10px;
    left: 116px;
}