@font-face {
    font-family: 'Kalam';
    src: url('./assets/fonts/Light/Kalam-Light.woff2') format('woff2'),
        url('./assets/fonts/Light/Kalam-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url('./assets/fonts/Bold/Kalam-Bold.woff2') format('woff2'),
        url('./assets/fonts/Bold/Kalam-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Kalam';
    src: url('./assets/fonts/Regular/Kalam-Regular.woff2') format('woff2'),
        url('./assets/fonts/Regular/Kalam-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
  