//Fonts
@import 'assets/scss/modules/fonts';

$primary_font: 'Kalam';

body {
    font-family: $primary_font;
    font-size: 16px;
    font-weight: 400;
}

/* You can add global styles to this file, and also import other style files */

//Dark #322D35
html, body { height: 100%; background-color: #322D35; }
body { margin: 0; font-family: Kalam, "Regular"; }


//Dark #322D35
//medium #443A33
//medium-light #A56E48
//light #E4B889
//extra-light #E0C5B2