.card-container {
    display: flex;
    justify-content: center;
}

.card {
    // display: flex;
    max-width: 40%;
    height: 825px;
    margin: 40px 80px 40px 80px;
    box-shadow: 13px 7px 6px rgba(0,0,0,.3);
    flex: 1 0 20%;
    border-radius: 10px;
    background-color: #E0C5B2;
}

.card__body {
    margin: 20px 20px 30px 20px;
    color: #322D35;
}

.cards__beer-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.grid_test {
    display: flex;
    justify-content: center;
    flex-direction: column;
    // grid-template-columns: 1fr 1fr;
}