<div class="card-container">
    <div class="card card_new">
        <div class="card__body">
            <p class="cards__beer-name">Update {{beer.name}}</p>

            <div class="grid_test">

            <div class="card__input">
                <mat-form-field>
                    <input matInput #name placeholder="Beer Name" name="nameInput" value="{{beer.name}}" required>
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #style placeholder="Beer Style" name="styleInput" value="{{beer.style}}" required>
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #color placeholder="Color" name="colorInput" value="{{beer.color}}" required>
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #status placeholder="Current Status" name="statusInput" value="{{beer.status}}"
                        required>
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #ibu placeholder="IBU's" value="{{beer.ibu}}" name="ibuInput">
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #abv placeholder="ABV" name="abvInput" value="{{beer.abv}}">
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #numBottles placeholder="Bottles Left" name="numBottlesInput"
                        value="{{beer.quantity}}">
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <input matInput #image placeholder="Image Source" name="imageInput" value="{{beer.picture}}">
                </mat-form-field>
            </div>

            <div class="card__input">
                <mat-form-field>
                    <textarea matInput #description placeholder="Description" name="descriptionInput"
                        value="{{beer.description}}"></textarea>
                </mat-form-field>
            </div>

            <div class="create_button">
                <button mat-stroked-button color="accent" class="btn-block"
                    (click)="updateBeer(name, style, color, status, ibu, abv, numBottles, image, description)">Update</button>
            </div>
            </div>
        </div>
    </div>
</div>