<app-navbar></app-navbar>
<div class="home_container">
    <div class="welcome_container">
        <video class="welcome_video" autoplay loop oncanplay="this.play()" onloadedmetadata="this.muted = true">
            <source src="./assets/Brewery_video.mp4" type="video/mp4" />
                No go?
        </video>
        <div class="video_cutoff">
            <h2>Experimentation leads to some dope tasting brews, my dudes.</h2>
            <span>Taste the rainbow, ya bish</span>
        </div>
    </div>
    <div class="beers_container">
        <div class="beers__image-container">
            <img src="./assets/odells_brews.png">
        </div>
        <div class="beers__subtext">
            <span>From a homebrewer spending too much time with yeast in his kitchen, to a homebrewer spending too much time with yeast in his kitchen. Sorry for stealing your beer pictures, Odell. I'll totes take my own at some point.</span>
        </div>
        <div class="beers__button-container">
            <button mat-button routerLink="/beers">
                <span class="hop_icon_1"><img src="./assets/hop_drawing.png"></span>
                SEE THE BEERS
                <span class="hop_icon_2"><img src="./assets/hop_drawing.png"></span>
            </button>
        </div>
    </div>
    <div class="coming-soon__container">
        <div class="coming-soon__container--header">
            <h2>What's coming</h2>
        </div>
        <div class="cards-container">
            <div *ngFor="let beer of toShow" class="card">
                <div class="card__colored-header" [style.background-color]="beer.showColor"></div>
                <div class="card__body">
                    <p class="cards__beer-name">{{beer.name}}</p>
                    <p>Style: {{beer.style}}</p>
                    <p>Status: {{beer.status}}</p>
                    <p *ngIf="beer.ibu">Estimated IBU: {{beer.ibu}}</p>
                    <p *ngIf="beer.abv">Estiamted ABV: {{beer.abv}}</p>
                </div>
            </div>
        </div>
    </div>
</div>