
.home_container {
}

.welcome_container {
    display: block;
    position: relative;
}

.welcome_video {
    width: 100%;
}

.video_cutoff {
    width: 100%;
    height: 25%;
    background-color: #E4B889;
    color: #322D35;
    position: absolute;
    z-index: 1;
    top: 75%;
    text-align: center;

    h2 {
        margin-top: 80px;
        font-size: 32px;
    }
    span {
        font-size: 8px;
        color: grey;
    }
}

.beers_container {
    background-color: #E0C5B2;
    height: 500px;
    width: 100%
}

.beers__image-container {
    text-align: center;
}

.beers__subtext {
    text-align: center;
    color: grey;
    padding-top: 25px;
    width: 65%;
    margin: 0 auto;
}

.beers__button-container {
    text-align: center;
    padding-top: 45px;
    button{
        font: 400 20px Kalam;
        background-color: #322D35;
        color: #E4B889;
        padding-top: 4px;
    } 
}

.hop_icon_1 {
    img{
        filter: invert(80%);
        transform: rotate(90deg);
    }

}

.hop_icon_2 {
    img{
        filter: invert(80%);
        transform: rotate(-90deg);
    }
}

.coming-soon__container {
    height: 800px;
    width: 100%;
    background-color: #A56E48;
    position: absolute;
}

.coming-soon__container--header {
    height: 100px;
    text-align: center;
    color: #322D35;
    margin-top: 40px;

    h2 {
        font-size: 32px;
    }
}

.cards-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}

.card {
    // display: flex;
    max-width: 250px;
    height: 300px;
    margin: 40px 80px 40px 80px;
    box-shadow: 13px 7px 6px rgba(0,0,0,.3);
    flex: 1 0 21%;
    border-radius: 10px;
    background-color: white;
}

.card__colored-header {
    height: 20%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: grey;
}

.card__body {
    margin: 20px 20px 30px 20px;
    color: #322D35;
}

.cards__beer-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}