.beers_container {
    height: 1000px;
    background-color: #443A33;
}

.beers_header--image {
    position: relative;
    height:500px;
    width: 100%;
    img {
        height:500px;
        width:100%;
    }
}

.beers_header {
    position: absolute;
    height: 100px;
    width: 100%;
    text-align: center;
    background-color: #A56E48;
    h2 {
        font-size: 32px;
    }
}

.all_beers-container {
    height: 1800px;
    width: 100%;
    background-color: #443A33;
    margin-top: 100px
}

.beers_cards__container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: auto;
}


.card {
    // display: flex;
    max-width: 321px;
    height: 825px;
    margin: 40px 80px 40px 80px;
    box-shadow: 13px 7px 6px rgba(0,0,0,.3);
    flex: 1 0 20%;
    border-radius: 10px;
    background-color: #E0C5B2;
}

.card__picture-header {
    height: 404px;
    width: 100%;
    background-color: grey;
    img {
        border-radius: 10px 10px 0 0;
    }
}

.card__body {
    margin: 20px 20px 30px 20px;
    color: #322D35;
}

.cards__beer-name {
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}