<app-navbar></app-navbar>
<div class="beers_container">
    <div class="beers_header--image">
        <img src="./assets/beers_header.jpg">
    </div>
    <div class="beers_header">
        <h2>All them brews</h2>
    </div>
    <div class="all_beers-container">
        <div class="beers_cards__container">
            <div *ngFor="let beer of toShow" class="card">
                <div class="card__picture-header" *ngIf="beer.picture">
                    <img src="{{beer.picture}}">
                </div>
                <div class="card__body">
                    <p class="cards__beer-name">{{beer.name}}</p>
                    <p>Style: {{beer.style}}</p>
                    <p>Status: {{beer.status}}</p>
                    <p *ngIf="beer.ibu">Estimated IBU: {{beer.ibu}}</p>
                    <p *ngIf="beer.abv">Estiamted ABV: {{beer.abv}}</p>
                    <P *ngIf="beer.quantity">Bottles remaining: {{beer.quantity}}</P>
                    <p>{{beer.description}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- <div>
    <button (click) ="firstPage()" mat-button> First</button>
    <button (click) ="previousPage()" mat-button> Previous</button>
    <button (click) ="nextPage()" mat-button> Next</button>
    <button (click) ="lastPage()" mat-button> Last</button>
</div> -->